@import "../node_modules/bulma/sass/utilities/initial-variables"

$grey-dark: #333333
$grey-darker: #121212
$turquoise: #25E3AC
$blue: #1C8CD9

$dark: $grey-dark

//$navbar-background-color: $grey-dark
//$navbar-height: 6.5rem
//$navbar-item-img-max-height: 200px 

$body-background-color: $grey-darker
$title-color: $turquoise
$subtitle-color: $blue
$navbar-item-img-max-height: 150px

@import "../node_modules/bulma/bulma"

.navbar
  box-shadow: 0px 5px 5px #000000

.title
  font-size: 38px
  font-family: helvetica