@import "../node_modules/bulma/sass/utilities/initial-variables"

$grey-dark: #333333
$grey-darker: #121212
$turquoise: #00EA4B  
$blue: #0E578A

$navbar-background-color: $grey-dark
$body-background-color: $grey-darker
$title-color: $turquoise
$subtitle-color: $turquoise

@import "../node_modules/bulma/bulma"
